html {
  scroll-behavior: smooth;
}

body {
  padding-top: 70px; /* Space for navbar */
}

section {
  min-height: 100vh;
  padding-top: 60px;
}

.nav-link {
  cursor: pointer;
}

footer {
  min-height: 10vh;
}

#about {
  background-image: url('images/images.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* Choose color based on your image contrast */
  padding: 100px 20px; /* Adjust padding for better spacing */
  text-shadow: 1px 1px 3px black; /* Optional, for better readability */
}
