html {
  scroll-behavior: smooth;
}

body {
  padding-top: 70px; /* Space for navbar */
}

section {
  min-height: 100vh;
  padding-top: 60px;
}

.nav-link {
  cursor: pointer;
}

footer {
  min-height: 10vh;
}
#about {
  position: relative;
  background-image: url('images/images.png');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 20px;
  overflow: hidden;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Adjust opacity as needed */
  z-index: 0;
}

#about h1, 
#about p {
  position: relative;
  z-index: 1;
}
