html {
  scroll-behavior: smooth;
}

body {
  padding-top: 70px; /* Space for navbar */
}

section {
  min-height: 100vh;
  padding-top: 60px;
}

.nav-link {
  cursor: pointer;
}

footer {
  min-height: 10vh;
}
#about {
  position: relative;
  color: white;
  padding: 100px 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.video-content {
  position: relative;
  z-index: 1;
  background-color: rgba(0,0,0,0.5); /* Dark transparent background */
  padding: 20px;
  border-radius: 10px;
  max-width: 700px; /* Adjust this to control width */
  margin: 0 auto;
  text-align: center;
}

